<div class="box-welcome">
  <!--==== 大图轮播 ====-->
  <section class="intro-box">
    <div class="row">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        	<!--==== 轮播指标 ====-->
        	<ol class="carousel-indicators">
        		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        		<li data-target="#myCarousel" data-slide-to="1"></li>
        		<li data-target="#myCarousel" data-slide-to="2"></li>
        	</ol>
        	<!--==== 轮播图片 ====-->
        	<div class="carousel-inner">
        		<div class="item active">
              <%= link_to "#", target:"_blank" do %>
        			  <%= image_tag("intro_1") %>
                <div class="carousel-caption">
                  <h3>品味生活</h3>
                  <p>打造优质烹饪环境，让生活更有趣</p>
                </div>
              <% end %>
        		</div>
        		<div class="item">
              <%= link_to "#", target:"_blank" do %>
        			  <%= image_tag("intro_2") %>
                <div class="carousel-caption">
                  <h3>创造美食</h3>
                  <p>最新创意食谱，每天都充满变化</p>
                </div>
              <% end %>
        		</div>
        		<div class="item">
              <%= link_to "#", target:"_blank" do %>
        			  <%= image_tag("intro_3") %>
                <div class="carousel-caption">
                  <h3>精选厨具</h3>
                  <p>打优质进口厨具，做菜更加便利</p>
                </div>
              <% end %>
        		</div>
        	</div>
        	<!--==== 换页按钮 ====-->
        	<a class="carousel-control left" href="#myCarousel"
        	   data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>

        	<a class="carousel-control right" href="#myCarousel"
        	   data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--==== 品牌故事 ====-->
  <section class="story-box">
    <div class="row">
      <div class="col-md-10 col-center">
        <h2>品牌故事</h2>
        <h1>JDStore</h1>
        <div class="short-line"></div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <%= image_tag("founder_1.png") %>
          </div>
          <div class="col-md-7">
            <h3>Victor</h3>
            <p>我們希望能為大家帶來種類多樣、價格低廉並且設計獨特，且讓大多數人可以負擔的起的家具家飾品，爲了實現這樣的想法，我們從產品設計、原料採購、生產製造，到在分店中的經營，都不斷在創新和尋求改善。 </p>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-7 col-md-offset-1">
            <h3>Kelly</h3>
            <p>我們知道如果要提供顧客便宜、品質又好的商品，企業必須有效的管理成本及運用創新的製造方法，這是從未改變的信念，最有效的利用原料，尋找更經濟、更有效率及更有創意的製作或包裝方式，降低成本，回饋給大家! </p>
          </div>
          <div class="col-md-3">
            <%= image_tag("founder_2.png") %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==== 服务优势 ====-->
  <section class="service-box">
    <div class="row">
      <div class="col-md-10 col-center">
        <h2>服务优势</h2>
        <div class="short-line"></div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs 12">
            <div class="service-item">
              <%= image_tag("service_1.png") %>
              <h3>品质保证</h3>
              <p>本店的商品皆通过市场验证，使用最高级的材料制作而成，品质为业界领先标准。</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs 12">
            <div class="service-item">
              <%= image_tag("service_2.png") %>
              <h3>快速送达</h3>
              <p>全国皆享有当天下单、隔日送达的服务，过程中有任何损坏皆由我们负责，请放心购买。</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs 12">
            <div class="service-item">
              <%= image_tag("service_3.png") %>
              <h3>安心使用</h3>
              <p>设计皆考量人体工学及真实使用情境，使用起来更安心。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==== 商品分类 ====-->
  <section class="category-box">
    <div class="row">
      <div class="col-md-10 col-center">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 category-item">
            <%= link_to '#' do %>
              <%= image_tag("category_1.jpg") %>
              <h3>器皿</h3>
              <p>不鏽鋼材質便於清洗，不怕碰撞，緻密紋理相當迷人。鍋體兩側都有尖口，左右撇子都好用。可以煮兩到三人份的奶茶、一人份的湯麵、粥類，料理後亦可直接端上桌，可愛又方便！</p>
            <% end %>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 category-item">
            <%= link_to '#' do %>
              <%= image_tag("category_2.jpg") %>
              <h3>厨具</h3>
              <p>工房Aizawa最受歡迎的牛奶鍋，由創立於大正11年、以製作金屬食器聞名的老舖Aizawa工房製作而成。在職人們的手中，金屬冷硬的質感，帶上了手工製作的細緻與溫度。</p>
            <% end %>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 category-item">
            <%= link_to '#' do %>
              <%= image_tag("category_3.jpg") %>
              <h3>锅碗</h3>
              <p>相較於琺瑯和陶瓷材質的牛奶鍋，不鏽鋼的質感多了一點硬派的感覺，鍋體上細緻的金屬紋理相當迷人。由白梣木手工製成的木柄，如同松鼠尾巴般圓潤好握、防燙，傾倒的角度也相當順手。</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==== 推荐商品 ====-->
  <section class="recommend-box">
    <div class="row">
      <div class="col-md-10 col-center">
        <h2>推荐商品</h2>
        <div class="short-line"></div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_1.jpg") %>
              </div>
              <p class="p1">两手锅</p>
              <p class="p2">$550</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_2.jpg") %>
              </div>
              <p class="p1">平底锅</p>
              <p class="p2">$750</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_3.jpg") %>
              </div>
              <p class="p1">铁制茶壶</p>
              <p class="p2">$450</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_4.jpg") %>
              </div>
              <p class="p1">茶壶</p>
              <p class="p2">$250</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_5.jpg") %>
              </div>
              <p class="p1">八角点心盘</p>
              <p class="p2">$150</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_6.jpg") %>
              </div>
              <p class="p1">点心盘</p>
              <p class="p2">$80</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_7.jpg") %>
              </div>
              <p class="p1">木盘</p>
              <p class="p2">$125</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_8.jpg") %>
              </div>
              <p class="p1">酱料碟</p>
              <p class="p2">$20</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_9.jpg") %>
              </div>
              <p class="p1">酱料碟</p>
              <p class="p2">$50</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_10.jpg") %>
              </div>
              <p class="p1">马克杯</p>
              <p class="p2">$80</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_11.jpg") %>
              </div>
              <p class="p1">陶锅</p>
              <p class="p2">$650</p>
            <% end %>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 recommend-item">
            <%= link_to '#' do %>
              <div class="recommend-part1">
                <%= image_tag("item_12.jpg") %>
              </div>
              <p class="p1">8号锅</p>
              <p class="p2">$500</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==== 用户反馈 ====-->
  <section class="feedback-box">
    <div class="row">
      <div class="col-md-10 col-center">
        <h2>用户反馈</h2>
        <div class="short-line"></div>
        <div id="feedback" class="carousel slide" data-ride="carousel">
        	<!-- 轮播（Carousel）指标 -->
        	<ol class="carousel-indicators">
        		<li data-target="#feedback" data-slide-to="0" class="active"></li>
        		<li data-target="#feedback" data-slide-to="1"></li>
        		<li data-target="#feedback" data-slide-to="2"></li>
        	</ol>
        	<!-- 轮播（Carousel）项目 -->
        	<div class="carousel-inner">
        		<div class="item active">
              <p class="p1">这是我用过最好的网站，商品众多、下单方便、送货快速，还能订制特殊规格的锅具，强力推荐。</p>
              <%= image_tag("feedback_1.png") %>
              <p class="p2">Eddie - 上班族</p>
        		</div>
        		<div class="item">
              <p class="p1">我是这网站的忠实用户，已经在这买好几年了，质量一直很好，而且不定时会有折扣，真的很划算！</p>
              <%= image_tag("feedback_2.png") %>
              <p class="p2">Anna - 家庭主妇</p>
        		</div>
        		<div class="item">
              <p class="p1">身为一个学生，预算不太多，却也能在这找到便宜又有设计感的器皿，让我生活又添加一份乐趣。</p>
              <%= image_tag("feedback_3.png") %>
              <p class="p2">Kobe - 大学生</p>
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </section>

</div>
