<h2>商品信息</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品信息</th>
      <th>单价</th>
      <th>数量</th>
      <th>金额</th>
    </tr>
  </thead>
  <tbody>
    <% current_cart.cart_items.each do |cart_item| %>
      <tr>
        <td>
          <%= link_to product_path(cart_item.product) do %>
            <% if cart_item.product.image.present? %>
              <%= image_tag(cart_item.product.image.thumb.url) %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
            <% end %>
            <%= cart_item.product.title %>
          <% end %>
        </td>
        <td><%= cart_item.product.price %></td>
        <td><%= cart_item.quantity %></td>
        <td>
          <% sum1 = cart_item.product.price * cart_item.quantity %>
          <%= sum1 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="clearfix">
  <h2 class="pull-right">
    合计
    <%= render_cart_total_price(current_cart) %>
     元
  </h2>
</div>

<h2>订单信息</h2>
<%= simple_form_for @order do |f| %>
  <div class="col-md-6">
    <%= f.input :billing_name %>
    <%= f.input :shipping_name %>
  </div>
  <div class="col-md-6">
    <%= f.input :billing_address %>
    <%= f.input :shipping_address %>
  </div>
  <%= f.submit "提交订单", class:"btn btn-danger btn-lg pull-right" %>
<% end %>
