<h1>编辑商品</h1>

<div class="col-md-6 col-center">
  <%= simple_form_for [:admin, @product] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <% if @product.image.present? %>
      <%= image_tag(@product.image.thumb.url, class:"thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class:"thumbnail") %>
    <% end %>
    <%= f.input :image %>
    <%= f.select :category_id, @categories %>
    <%= f.submit "保存", data:{disable_with:"正在保存.."} %>
  <% end %>
</div>
