
<%= link_to("新增商品", new_admin_product_path, class:"btn btn-success btn-lg") %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品</th>
      <th>详情</th>
      <th>价格</th>
      <th>库存</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <div class="col-md-6">
            <%= link_to product_path(product) do %>
              <% if product.photos.present? %>
                <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail", style:"width:100px;") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class:"thumbnail") %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-6">
            <%= link_to(product.title, admin_product_path(product)) %>
          </div>
        </td>
        <td>
          <%= product.description %>
        </td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td>
          <%= link_to("编辑", edit_admin_product_path(product), class:"btn btn-info btn-xs") %>
          <%= link_to("删除", admin_product_path(product), method: :delete, class:"btn btn-danger btn-xs", data:{confirm:"确认删除？"}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
