<%= form_tag products_path,method: :get do %>
  <%= text_field_tag :name %>
  <%= submit_tag "确定" %>
<% end %>

<div class= "search">
  <%= search_form_for @search do |f| %>
    <%= f.label :title_cont %>
    <%= f.search_field :title_or_description_cont %>
    <%= f.submit %>
  <% end %>
</div>
<!-- Split button -->
<div class="btn-group col-md-12" style="margin-bottom:20px;">
  <button type="button" class="btn btn-info">
    所有商品
  </button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= sort_link @search, :quantity, "库存排序" %>
    </li>
    <li>
      <%= sort_link @search, :price, "价格排序" %>
    </li>
    <li>
      <%= sort_link @search, :created_at, "时间顺序" %>
    </li>
  </ul>
</div>

<% @products.each do |product| %>
  <div class="col-md-3">
    <%= link_to product_path(product) do %>
      <% if product.photos.present? %>
        <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class:"thumbnail") %>
      <% end %>
    <% end %>
    <%= link_to(product.title, admin_product_path(product)) %>
    ¥ <%= product.price %> 元
  </div>
<% end %>

<div class="col-md-12 text-center">
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>
